<h1>This is the secret page!!!</h1>

<p>You found me!</p>

<img src="https://cdn.discordapp.com/emojis/630637173816688640.png?v=1" alt="BIGEW">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>